:root {
  --bgcolor1Main: #2b0163;
  --bgColor1Fade: #0c0726;

  --bgcolor2Main: #f6c427;
  --bgColor2Fade: #9b3801;

  --bgcolor2Main: #ccf57b;
  --bgColor2Fade: #335326;

  --bgcolor2Main: #c89150;
  --bgColor2Fade: #6d3711;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
