@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bgcolor1Main: #2b0163;
  --bgColor1Fade: #0c0726;

  --bgcolor2Main: #f6c427;
  --bgColor2Fade: #9b3801;

  --bgcolor2Main: #ccf57b;
  --bgColor2Fade: #335326;

  --bgcolor2Main: #c89150;
  --bgColor2Fade: #6d3711;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: thin;
  scroll-behavior: smooth;
 font-family: "Michroma", serif;
}
